<div class="p-8 min-w-[400] flex flex-col">
    <div class="flex justify-between">
        <div>
            <h2 class="text-xl font-medium mb-1">Sign Up</h2>
            <p class="text-sm text-gray-500">Join us and start shopping today</p>
        </div>
        <button tabindex="-1" matIconButton class="-my-2 -mr-2" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <form [formGroup]="signupForm" class="mt-6 flex flex-col" (ngSubmit)="signUp()">
        <mat-form-field  class="mb-4">
            <input matInput formControlName="name" type="text" placeholder="Enter Your Name">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field  class="mb-4">
            <input matInput formControlName="email" type="email" placeholder="Enter Your Email">
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <mat-form-field  class="mb-4">
            <input matInput formControlName="password" type="password" placeholder="Enter Your Password">
            <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
        <mat-form-field  class="mb-4">
            <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Your Password">
            <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
        <button type="submit" matButton="filled" class="w-full">
            Create Account
        </button>
    </form>

    <p class="text-sm text-gray-500 mt-2 text-center">
        Already have an account?
        <a class="text-blue-600 cursor-pointer" (click)="openSignInDialog()">Sign In</a>
    </p>
</div>